@{
    Layout = "~/Views/Shared/_LayoutRouted.cshtml";
}

<section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Entre em contato</h3>
                <h1 class="display-1 display-1--light">Fale comigo e vamos trabalhar em algo incrível juntos. Estou a disposição para auxiliar em quaisquer dúvidas.</h1>
            </div>
        </div> 

        <div class="row">

            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                <a href="mailto:#0" class="contact-email">nicolasbcp@gmail.com</a>
                <span class="contact-number">+44 (077) 628 626 13  /  +55 (41) 9 9964-1885</span>
                </p>
            </div> 

        </div> 

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Endereço</h3>

                <p class="contact-address">
                    Rua Chichorro Júnior, n.º 364, APT. 401<br>
                    Curitiba, Paraná<br>
                    80035-040 BR
                </p>
            </div> 

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Me siga</h3>

                <ul class="contact-social">
                    <li>
                        <a href="https://facebook.com/nicolas.plaisant" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul> 
            </div> 

        </div> 

        <div class="row">
            <div class="col-full cl-copyright">
                <span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
</span> 
            </div>
        </div>

        <div class="cl-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
        </div>

    </section>