@{
    Layout = "~/Views/Shared/_LayoutRouted.cshtml";
}
<section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">O que faço</h3>
                <h1 class="display-1">Atualmente desempenho minhas funções na GFT Group, local onde tenho oportunidade para expandir minhas áreas de atuação.</h1>
            </div>
        </div> 

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                Como participante do programa "Starter" de estágios GFT, são disponibilizadas várias formas e tecnologias para aprendizado. O objetivo do programa
                é percorrer e simular toda a vivência de um projeto, utilizando metodologia ágil. Uma vez que possuirmos essa prévia experiência, passaremos então
                pelo direcionamento a projetos reais.
                </p>
            </div>
        </div> 

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

            <div class="col-block service-item " data-aos="fade-up">
                <div class="service-icon service-icon--brand-identity">
                    <i class="icon-tv"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">POO</h3>
                    <p>Nossa caminhada se iniciou no básico do universo da programação: Orientação a objetos. Durante a esta etapa,
                        tivemos todo suporte necessário para compreender o funcionamento e seus benefícios, para assim continuar progredindo.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Back-End</h3>
                    <p>O programa "Starter" é focado em ensinar o funcionamento do Back-End nas tecnlogias Java e C#. Utilizando desde as
                        linguagens puras, como frameworks de muita importância no mercado, como Springboot e Asp.net.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--web-design">
                    <i class="icon-earth"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h4">Front-End</h3>
                    <p>Para finalizar, receberemos o treinamento nas melhores tecnologias de desenvolvimento, como o framework Angular. Além disso,
                        podemos prosseguir nossos estudos para direcionamento mobile, utilizando React, React Native e Ionic.  
                    </p>
                </div>
            </div>
        </div> 

    </section>