@{
    Layout = "~/Views/Shared/_LayoutRouted.cshtml";
}

<section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Quem sou eu</h3>
                <h1 class="display-1">Estudante de tecnologia que ama se aprofundar em assuntos relacionados a tecnologias Front-End.</h1>
            </div>
        </div> 

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                Apesar de estar iniciando na carreira de tecnologia, possuo grande interesse pelo desenvolvimento Front-End, focando portanto meus estudos em seus relacionados. Neste sentido, passo a disponibilizar algumas das áreas que optei pelo aprofundamento. 
                </p>
            </div>
        </div> 

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Front-End</h4>

                        <p>
                        Dado ao interesse direcionado ao desenvolvimento Front-end, busco atualmente melhorar minhas noções
                        de HTML, CSS e JavaScript, de maneira a conciliar com aquilo que venho adquirindo das tecnologias
                        React e Angular.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Back-End</h4>

                        <p>
                        Na GFT Group tive a chance de conhecer melhor o funcionamento do Back-End e perceber como essas informações
                        me auxiliariam nas conexões das duas searas de desenvolvimento. Aqui tive a oportunidade de aprender 
                        tecnologias Java e C#, utilizando os frameworks Springboot e Asp.net, respectivamente. 
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Idiomas</h4>

                        <p>
                        Outro interesse particular é conhecer o mundo e as particularidades culturais de cada região. Dessa forma,
                        sempre busquei aprender diferentes idiomas, de maneira a concretizar este objetivo.
                        <br>
                        <br> 
                        Inglês: Avançado/Fluente<br>
                        Espanhol: Intermediário<br>
                        Alemão: Intermediário 
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Comunicação</h4>

                        <p>
                        Difícil não destacar atualmente a questão de Soft Skills, que muitas vezes superam em importância as Hard Skills.
                        Busco sempre adotar postura conciliadora, de maneira a ouvir múltiplos posicionamentos e encontrar melhor resolução
                        para a situação discutida. Acredito que manter um bom nível de comunicação junto ao time de sua atuação é de extrema
                        importância para boa fluência dos projetos designados. 
                        </p>
                    </div>
                </div>

            </div> 

        </div> 

    </section> 